* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 12px;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    color: red;
    cursor: crosshair;
}

@font-face {
    font-family: MonumentGrotesk;
    src: url(MonumentGrotesk-Regular.otf);
}

@font-face {
    font-family: MonumentGrotesk-Italic;
    src: url(MonumentGrotesk-Italic.otf);
}

body {
    height: 100%;
    font-family: MonumentGrotesk;
    position: relative;
}

.site-wrapper {
    min-height: 100%;
    padding: 0.8em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.italic {
    font-family: MonumentGrotesk-Italic;
}

#top-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    height: 200px;
}

h1 {
    font-size: 2em;
    font-weight: 400;
    margin-bottom: 0.3em;
}

.nav-item {
    font-size: 1em;
    display: block;
}


#about:focus, #key:focus {
    color: red;
}

.nav-item:hover {
    color: red;
    cursor: crosshair;
}

.nav-txt {
    display: none;
    font-family: MonumentGrotesk;
    font-size: 1em;
    width: 60%;
}

#content {
    width: 100%;
    padding: 2em 0;
}

#log {
    margin-top: 0.8em;
}

#input:hover {
    cursor: crosshair;
}

#input {
    font-family: MonumentGrotesk;
    font-size: 2em;
    border: 0;
    /* outline: none; */
    resize: none;
    width: 100%;
    margin-bottom: 3em;
    text-transform: lowercase;
}

#input::placeholder {
    color: #000;
    text-align: center;
}

#input:focus::placeholder {
    color: transparent;
}

#clickhere {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.space {
    display: inline-block;
    width: 3em;
    height: 6em;
}

img {
    height: 6em;
}
footer {
    width: 100%;
    height: 2.5em;
    font-size: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

@media only screen and (min-width: 600px) {
    html {
        font-size: 14px;
    }

    #content {
        padding: 3em 0;
    }
}

@media only screen and (min-width: 768px) {
    html {
        font-size: 16px;
    }

    #content {
        padding: 4em 0;
    }

    .nav-txt {
        width: 40%;
    }
  }